@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  width: fit-content;
  font-family: "Raleway",sans-serif;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.mainPage {
display: flex;
flex-direction: column;
align-items: center;
}

main {
 // margin-left:1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2;
}

.title {
  display: flex;
  flex-wrap: wrap;
  background-color: #88179d;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.contrib {
  display: flex;
  //width: fit-content;
 //min-width: 60.5vw;
  width: 90%;
  height: fit-content;
  margin: auto 2rem;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 1rem;
  flex-wrap: wrap;
  padding: 2rem;
}



.image1 {
  margin: auto 2rem;
  margin-top: 1rem;
}

@media (min-width: 1200px) {
  body {
    font-size: .9rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contrib {
    
   width: 90%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    margin: 1rem
  }
  
}

.footer {
 display: flex;
 justify-content: center;
 align-items: center;
  height: 30vh;
  color: white;
  background-color: black;
  width: 100%;
}

.grupos-container { 
  //border: 2px solid black;
  width: 80vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.grupos-subcontainer {
  margin: auto 10px;
 // min-width: 500px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

}

.grupo {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  //width: 20rem;
  //width: 100vw;
  height: 20rem;
  color: #88179d;
  &:hover {
    background-color: #e8d2eb;
  }
  cursor: grab;
}

.image {
  margin: auto 5px;
  border-radius: 5px;
}