@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  width: fit-content;
  font-family: "Raleway",sans-serif;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.mainPage {
display: flex;
flex-direction: column;
align-items: center;
}

main {
 // margin-left:1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2;
  height: 80%;
}

.title {
  display: flex;
  flex-wrap: wrap;
  background-color: #88179d;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.contrib {
  display: flex;
  //width: fit-content;
 //min-width: 60.5vw;
  width: 90%;
  height: fit-content;
  margin: auto 2rem;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 1rem;
  flex-wrap: wrap;
  padding: 2rem;
}

.image1 {
  margin: auto 2rem;
  margin-top: 1rem;
}

.footer {
 display: flex;
 justify-content: center;
 align-items: center;
  height: 30vh;
  color: white;
  background-color: black;
  width: 100%;
}

.grupos-container { 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 flex-direction: column;
 gap: 1rem;
}


.grupo {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: fit-content;
  color: #88179d;
  &:hover {
    background-color: #e8d2eb;
  }
  cursor: grab;
}

.image {
  margin: 10px 3px;
  border-radius: 5px;
  
}

.nav-container {
  display: flex;
  justify-content: start;
}

.nav-ul {
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  li {
    font-weight: bolder;
    list-style: none;
    a {
      padding: 6px;
      border-radius: 5px;
      &:hover {
        transition: all .3s ease-in-out;
        background-color:  #88179d;
        color: white;
      }
      text-decoration: none;
    }
  }
}

.detail-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
 // border: 3px solid;
}

@media only screen and (min-width: 768px) {
  body {
    //font-size: .9rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contrib {
    width: 90%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    margin: 1rem
  }
 
  .grupos-container { 
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  .grupo {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 20rem;
    color: #88179d;
    &:hover {
      background-color: #e8d2eb;
    }
    cursor: grab;
  }
  .image {
    margin: 10px 3px;
    padding: 5px;
    border-radius: 5px;
    width: 20rem;
    
  }

  .nav-container {
    position: relative;
    top: 0;
    display: flex;
    justify-content: end;
  }

  .nav-ul {
    margin-right: 1rem;
    display: flex;
   flex-direction: row;

    gap: 1rem;
    li {
      font-weight: bolder;
      list-style: none;
      a {
        padding: 6px;
        border-radius: 5px;
        text-decoration: none;
        &:hover {
          transition: all .3s ease-in-out;
          background-color:  #88179d;
          color: white;
        }
      }
    }
  }
  
}

.main-container {
  height: 80%;
}